# Core dependencies
pre-commit==4.2.0
streamlit==1.50.0
python-dotenv==1.0.1
requests==2.32.4
datapizza-ai==0.0.2
datapizza-ai-clients-google==0.0.2
datapizza-ai-clients-openai==0.0.3
datapizza-ai-clients-openai-like==0.0.3
datapizza-ai-core==0.0.1
watchdog==6.0.0
