name: 'Check Docker Image building'

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main

jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build & Run Docker image
        run: |
          cp .env.example .env
          docker build --no-cache -t financial-ai-agent:ci .
